{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>{{ _('User') }}: {{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                <p>{{ _('Last seen on') }}: {{ moment(user.last_seen).format('LLLL') }}</p>
                {% endif %}
                <p>{{ user.followers.count() }} {{ _('followers') }}, {{ user.followed.count() }} {{ _('following') }}.</p>
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">{{ _('Edit Profile') }}</a></p>
                {% elif not current_user.is_following(user) %}
                <p>
                    <form action="{{ url_for('follow', username=user.username) }}" method="POST">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value=_('Follow')) }}
                    </form>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('unfollow', username=user.username) }}" method="POST">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value=_('Unfollow')) }}
                    </form> 
                </p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% include '_nav.html' %}
{% endblock %}
